# write a program that will change this commas to dots and dots to comma
# Text = "123,345,765.90,"

In [61]:
txt = "123,345,765.90,"
for i in range(len(txt)):
    print(txt)

123,345,765.90,
123,345,765.90,
123,345,765.90,
123,345,765.90,
123,345,765.90,
123,345,765.90,
123,345,765.90,
123,345,765.90,
123,345,765.90,
123,345,765.90,
123,345,765.90,
123,345,765.90,
123,345,765.90,
123,345,765.90,
123,345,765.90,

In [62]:
for i in range(len(txt)):
    if txt[i] == ",":
        new_txt = txt.replace(",",".")
print(new_txt)

123.345.765.90.

# write a program to remove the character which have even index values of a given string

In [63]:
txt = "i am an amazing creature"
for i in range(len(txt)):
    if i %2==0:
        new_txt = txt.replace(txt[i],"")
print(new_txt)

i am an amazing ceatue

In [64]:
word = "hello world"
for i in word:
    if i=="o":
        break
    print(i)

h
e
l
l

In [65]:
number_course = int(input("enter number of courses"))

for i in range(number_course):
    score = input("enter score ")
    if score == "quit":
        break
    print(score)

enter number of courses1
enter score quit

In [66]:
#continue to skip a data if the condition is true
quote = "we are the so-called vikings from the north"
for i in quote:
    if i=="a":
        continue
    print(i)

w
e

r
e

t
h
e

s
o
-
c
l
l
e
d

v
i
k
i
n
g
s

f
r
o
m

t
h
e

n
o
r
t
h

#  nested for loop i.e having a for loop in another for loop

In [67]:
#multiplication table using nested for loop

for i in range(1,13):
    for j in range(1,13):
        ans = i*j
        table = "{}x{}={}"
        print(table.format(i,j,ans))

1x1=1
1x2=2
1x3=3
1x4=4
1x5=5
1x6=6
1x7=7
1x8=8
1x9=9
1x10=10
1x11=11
1x12=12
2x1=2
2x2=4
2x3=6
2x4=8
2x5=10
2x6=12
2x7=14
2x8=16
2x9=18
2x10=20
2x11=22
2x12=24
3x1=3
3x2=6
3x3=9
3x4=12
3x5=15
3x6=18
3x7=21
3x8=24
3x9=27
3x10=30
3x11=33
3x12=36
4x1=4
4x2=8
4x3=12
4x4=16
4x5=20
4x6=24
4x7=28
4x8=32
4x9=36
4x10=40
4x11=44
4x12=48
5x1=5
5x2=10
5x3=15
5x4=20
5x5=25
5x6=30
5x7=35
5x8=40
5x9=45
5x10=50
5x11=55
5x12=60
6x1=6
6x2=12
6x3=18
6x4=24
6x5=30
6x6=36
6x7=42
6x8=48
6x9=54
6x10=60
6x11=66
6x12=72
7x1=7
7x2=14
7x3=21
7x4=28
7x5=35
7x6=42
7x7=49
7x8=56
7x9=63
7x10=70
7x11=77
7x12=84
8x1=8
8x2=16
8x3=24
8x4=32
8x5=40
8x6=48
8x7=56
8x8=64
8x9=72
8x10=80
8x11=88
8x12=96
9x1=9
9x2=18
9x3=27
9x4=36
9x5=45
9x6=54
9x7=63
9x8=72
9x9=81
9x10=90
9x11=99
9x12=108
10x1=10
10x2=20
10x3=30
10x4=40
10x5=50
10x6=60
10x7=70
10x8=80
10x9=90
10x10=100
10x11=110
10x12=120
11x1=11
11x2=22
11x3=33
11x4=44
11x5=55
11x6=66
11x7=77
11x8=88
11x9=99
11x10=110
11x11=121
11x12=132
12x1=12
12x2=24
12x3=36
12x4=48
12x5=60
12x6=72
12x7=84
12x8=96
12x9=108
12x10=120
12x11=132
12x12=144

In [68]:
for i in range(100):
    pass

In [69]:
# write a while loop to print 1 - 10
num = 1
while num<=10:
    print(num)
    num += 1

1
2
3
4
5
6
7
8
9
10

In [70]:
#write a while loop to enter scores and add 

total_score = 0
score =0
while score >= 0:
    score = int(input("enter your score "))

enter your score 12
enter your score -1

In [71]:
t_score = 0
score = ""
while True:
    score = eval(input("enter your score"))
    
    if score <0:
        
        break
    t_score += score
print(t_score)

enter your score-1
0

In [72]:
 def grade(score):
        grade =""
        if score >=75:
            grade = "A"
        elif score >=60:
            grade = "B"
        print(grade)

In [73]:
#write a simple program that can calculate the cgpa of a student


#enter number of courses using for loop
# score for each courses 
#calculate the total score 

course = eval(input("enter number of course"))

total_score = 0

for i in range(course):
    score =int(input("enter score")) 
    if score < 0:
        
        
        
        break
    grade(score)
        
    
    total_score +=score
print(f'your total score is :{total_score}')

enter number of course-1
your total score is :0

# functions

# user defined and inbuilt function

# def name_of_function ():

In [74]:
# a function that adds two number together


def addition(x, y):
    ans = x+y
    return ans

a = addition(12,13)

a

25

In [75]:
def division(x,y):
    ans = x/y
    return ans

b  = division(25,5)
b

5.0

# arbitrary arguments

In [76]:
def fullname(fname,lname):
    fullname = fname +" "+lname
    return fullname

In [77]:
fname =  "Sulaiman"
lname = "Muhammed"
fullname = fullname(fname,lname)
print(fullname)

Sulaiman Muhammed

In [78]:
def fullname(*names):
    fullname = ""
    for name in names:
        fullname +=" "+name
    return fullname
        
    
fname =  fullname("sulaiman","muhammed","Dexter","MM")
print(fname)

 sulaiman muhammed Dexter MM

# keyword args

In [79]:
def  profile(fname,lname,age,gender):
    print(f'My name is {fname} {lname} , i am {age} years old')


fname = input("enter your first name")
l_name = input('enter your last name')
age = input("enter your age")
gender = input("enter your gender")

profile(gender=gender,lname= l_name, age= age,fname=fname)

enter your first nameasd
enter your last namedfd
enter your agedsf
enter your genderds
My name is asd dfd , i am dsf years old

# arbitrary keyword args

In [80]:
 def profile(**user):
        return user

p = profile(name="Sulaiman Muhammed",age=20,gender="Male")
print(p['gender'])

Male

# Python Collections
## list
## tuple
## dictionary
## set

# List

## list are used to store multiple items in a single variable

## lst = []
## lst = list()

In [81]:
fruits =  ['mango','apple','pawpaw']
print(fruits)

['mango', 'apple', 'pawpaw']

In [82]:
fruits = list(("mango","apple","pawpaw"))
fruits

['mango', 'apple', 'pawpaw']

In [83]:
lst = ['toha',20,True,['john','ade'],("milk")]
lst

['toha', 20, True, ['john', 'ade'], 'milk']

In [84]:
lst1 = []
#lst1 = list()

In [85]:
product = ['samsung','oraimo','infinix','nokia']
product[0] = "apple"
product

['apple', 'oraimo', 'infinix', 'nokia']

In [86]:
product[-1] = "blackberry"
product

['apple', 'oraimo', 'infinix', 'blackberry']

# slicing of a list

In [87]:
product[1:3]

['oraimo', 'infinix']

In [88]:
product[1:]

['oraimo', 'infinix', 'blackberry']

In [89]:
product[:3]

['apple', 'oraimo', 'infinix']

# list Methods
## append()  -> to append element or item to a list
## pop()    -> to remove element from a list 
## extend() -> to join two list together
## clear()  
## insert()  -> to add item to a list with position specification
## remove()
## count()
## copy()
## sort()
## reverse()

In [90]:
student = ['john','salman','Azooz','sharon']
student.append("Joseph")
student.append("Monday")
student

['john', 'salman', 'Azooz', 'sharon', 'Joseph', 'Monday']

In [91]:
student.pop()
student

['john', 'salman', 'Azooz', 'sharon', 'Joseph']

In [92]:
student.pop(4)
student

['john', 'salman', 'Azooz', 'sharon']

In [93]:
student2 = ['ade','bola','timi','ruth']
student2.extend(student)
student2

['ade', 'bola', 'timi', 'ruth', 'john', 'salman', 'Azooz', 'sharon']

In [94]:
color = ['red','green','yellow']
color.clear()
color

[]

In [95]:
student2.insert(1,"Muhammed")
student2

['ade',
 'Muhammed',
 'bola',
 'timi',
 'ruth',
 'john',
 'salman',
 'Azooz',
 'sharon']

In [96]:
student2.remove("ade")
student2

['Muhammed', 'bola', 'timi', 'ruth', 'john', 'salman', 'Azooz', 'sharon']

In [97]:
student2.count('Muhammed')

1

In [179]:
new_list = student2.copy()

In [164]:
new_list

['Muhammed', 'bola', 'timi', 'ruth', 'john', 'salman', 'Azooz', 'sharon']

In [165]:
new_list.sort()

In [166]:
new_list

['Azooz', 'Muhammed', 'bola', 'john', 'ruth', 'salman', 'sharon', 'timi']

In [167]:
new_list.reverse()
new_list

['timi', 'sharon', 'salman', 'ruth', 'john', 'bola', 'Muhammed', 'Azooz']

# loops with list

In [168]:
for i in range(len(new_list)):
    print(new_list[i])

timi
sharon
salman
ruth
john
bola
Muhammed
Azooz

In [169]:
for i in new_list:
    print(i)

timi
sharon
salman
ruth
john
bola
Muhammed
Azooz

In [170]:
for i in range(len(new_list)):
    print(new_list[i].upper())

TIMI
SHARON
SALMAN
RUTH
JOHN
BOLA
MUHAMMED
AZOOZ

In [171]:
for i in range(len(new_list)):
    if i%2!=0:
        print(new_list[i])

sharon
ruth
bola
Azooz

In [172]:
new_list

['timi', 'sharon', 'salman', 'ruth', 'john', 'bola', 'Muhammed', 'Azooz']

In [259]:
course = ["MATH","ENGLISH","PLB",'PHY',"CHE","ZLY"]
len(course)

6

In [260]:
new_course = []
for j in range(len(course)):
    if j%2==1:
        new_course.append(course[j])

In [261]:
new_course

['ENGLISH', 'PHY', 'ZLY']

# list Comprehension

In [264]:
number = [i**2 for i in range(0,11)]
number

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [266]:
even  = [i for i in range(10) if i%2==0]
even

[0, 2, 4, 6, 8]

In [267]:
n_course = [course[j] for j in range(len(course)) if j%2==1]
print(n_course)

['ENGLISH', 'PHY', 'ZLY']

In [269]:
num = [i for i in range(1,51) if i%5==0]
print(num)

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

In [3]:
txt = "abcdefghijklmnopq"
lst = [i for i in txt]
print(lst)

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q']

In [5]:
tup = ("a","b")
tup[0]

'a'