Text type
1 String 
Numeric Type
1 integer
2 Float
complex
Sequence 
1 List
2 Tupple
3 range
Set Type
1 set
boolean type
1 boolean

In [1]:
text =  "My name is Sulaiman Muhammed"

# index of a string starts from zero 
# len(variable) this returns the length of a string
# print(len(text))
# print(text[-1])
# slicing of a string with positive indexing
# variable[starting index : stoping indext]
# example

In [2]:
print(text[0:7])

My name

In [3]:
print(text[11:28])

Sulaiman Muhammed

In [4]:
print(text[:7])

My name

In [5]:
print(text[11:])

Sulaiman Muhammed

# Negative slicing of a string

In [6]:
name = text[-17:]
print(name)

Sulaiman Muhammed

# String Methods 
# upper() this converts a string to upper case
#  lower()  this converts a string to lower case
#  strip()  this removes whitespace from a string 
#   rstrip() right strip
#   lstrip()  left strip
#  swapcase()
#  split() this breaks down a string into substring
#  replace() this replaces a string with aanother string
#  count()

In [7]:
fruit = "mango"
print(fruit.upper())

MANGO

In [8]:
food =  "AMALA"
print(food.lower())

amala

In [9]:
text2 =  "   The name of my school is unilorin "
print(text2.strip())

The name of my school is unilorin

In [10]:
user =  "sAlman"
print(user.swapcase())

SaLMAN

In [11]:
lst =  text2.split("m")
print(lst)

['   The na', 'e of ', 'y school is unilorin ']

In [12]:
new_text =  text2.replace("unilorin","UI")
print(new_text)

   The name of my school is UI

In [13]:
n_o_l = text2.count("a")
print(n_o_l)

1

In [14]:
nme = "Sualaiman Adeshino"
age =  21
school = "UI"
txt = "My name is {} i am {} years old , the name of my school is {}"
print(txt.format(name,age,school))

My name is Sulaiman Muhammed i am 21 years old , the name of my school is UI

In [15]:
qte = "We are the so-called \"Vikings\" from the north "
print(qte)

We are the so-called "Vikings" from the north

 # Casting : changing from one data type to another
 # str() converts int or float to string
 # int() converts str or float to int
 # float() converts int or str to float

In [16]:
print("Today's date is "+ str(28))

Today's date is 28

In [17]:
print(int("20")+20)

40

In [18]:
x = 20/12
print(int(x))

1

# operators
#  Arithmetic operators
# + ,- ,*,/ ,%,**,//

# Assignment Operators
# = 
# += 
# -=
# *=
# /=

In [19]:
x ,y = 20,12
print(x//12)

1

In [20]:
a = 20
a += 12
a -=10
print(a)

22

In [21]:
b = 36
b *=2
b %=10
print(b)

2

# comparison operators
# == equals to
# != not equals to 
# >
# <
# >=
# <=


# Logical Operators
# and : all conditions must be true
# or : one of the condition must be true

# conditional statement in python
#  if and else statement

In [22]:
age = int(input("enter age"))

if age<0:
    print("negative number not allowed ")
elif age >=18:
    print("welcome back")
elif age <18: 
     print("you are not allowed to use this app")
else:
    print("invalid input")

enter age-8
negative number not allowed

# loops in python
# for loop

In [26]:
a =0
for i in range(0,11):
    a +=i
print(a)

0
1
3
6
10
15
21
28
36
45
55

In [28]:
for i in range(1,20):
    if i%2==0:
        print(i)

2
4
6
8
10
12
14
16
18

In [39]:
t = "we are the so-called vikings"
count = 0
#print(t[0])
for i in range(len(t)):
    if t[i] == "l":
        count +=1
print(count)

2

In [48]:
for i in range(len(t)):
    if t[i] == " ":
        new_t =t.replace("v","a")
print(new_t)

we are the so-called aikings